.container {
    width: 50%;
    margin: 50px auto;
}

.feed_buttons {
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.feed_buttons button {
    background-color: white;
    border: 1px black solid;
    padding: 10px;
}

.tweet {
    border: 1px black solid;
    margin: 10px auto;
    padding: 10px;
    width: 45%;
}

.user_and_tweet {
    height: 50px;
}

#user_tweets .user_and_tweet {
    height: 80px;
}

.user_and_tweet img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

#user_img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin-right: 10px;
}
